
.caption{
  padding: 10px;


@media screen and (max-width: 600px) {
  .inputoutput{
    /* min-width: 100%!important; */
    max-width: 90%;
  }
  .button{
    width: 70%!important;
  }
}
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image{

  max-height: 900px;
  height: auto;
  width: auto;
  max-width: 80%!important;
  margin: 20px;


}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
